// variables
$primary:#22252C;
$white:#fff;
$black:#000;



.wrapper {
    width: 100%;
    height: 100%;
    background: $primary;
    display: flex;
    justify-content: center;
    align-items: center;

    .mob-view {
        width: 320px;
        height: 600px;
        background: $white;
        position: relative;
        padding: 0 20px;
        box-sizing: border-box;

        .tr {
            position: absolute;
        }

        .tr-top-right {
            border-top: 16px solid $primary;
            border-left: 16px solid transparent;
            top: -1px;
            right: -1px;
        }

        .tr-top-left {
            border-top: 16px solid $primary;
            border-right: 16px solid transparent;
            top: -1px;
            left: -1px;
        }

        .tr-bottom-right {
            border-bottom: 16px solid $primary;
            border-left: 16px solid transparent;
            bottom: -1px;
            right: -1px;
        }

        .tr-bottom-left {
            border-bottom: 16px solid $primary;
            border-right: 16px solid transparent;
            bottom: -1px;
            left: -1px;
        }

        .mob-head {
            display: flex;
            flex-direction: row;
            justify-content: center;
            height: 50px;

            .circle {
                width: 10px;
                height: 10px;
                border-radius: 100%;
                border: 1px solid $black;
                margin-top: 20px;
            }

            .box {
                width: 40px;
                height: 5px;
                border: 1px solid $black;
                margin-top: 23px;
                margin-left: 8px;
            }
        }

        .mob-body {
            width: 100%;
            height: 495px;
            border: 1px solid $black;
            background-color: $primary;
            color: $white;
            position: relative;

            .mode {
                position: absolute;
                top: 5px;
                right: 6px;

                button {
                    border: none;
                    background: transparent;
                    outline: none;
                    color: $white;
                    cursor: pointer;
                }

                .dark {
                    color: $white;
                }

                .light {
                    color: $black;
                }
            }

            .copy-div {
                position: absolute;
                top: 4px;
                left: 50%;
                transform: translateX(-50%);
                border: 1px solid $white;
                width: 200px;
                padding: 1em;
                z-index: 10;
                background: $primary;
                font-size: 13px;
                color: $white;

                u {
                    display: block;
                    font-size: 10px;
                    margin-bottom: 10px;
                }
            }

            .head {
                margin-top: 40px;

                p {
                    font-size: 12px;
                    text-align: center;

                }
            }

            .body {
                width: 100%;
                margin-top: 22%;
                padding: 0 20px;
                text-align: center;
                box-sizing: border-box;

                .content {
                    max-height: 210px;
                    height: 150x;
                    overflow-y: auto;
                }

                .btn-div {
                    margin-top: 10px;

                    .button {
                        margin: auto;
                        width: 35px;
                        height: 35px;
                        border-radius: 100%;
                        border: 1px solid $white;
                        line-height: 35px;
                        text-align: center;
                        cursor: pointer;

                        &:hover {
                            opacity: 0.8;
                            box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
                        }
                    }
                }
            }

            .footer {
                display: flex;
                justify-content: center;
                margin-top: 60px;

                button {
                    padding: .5em 2em;
                    background: transparent;
                    border: 1px solid $white;
                    color: $white;
                    cursor: pointer;

                    &:focus {
                        outline: none;
                    }
                }

                .btn {
                    display: inline-block;
                    vertical-align: middle;
                    -webkit-transform: perspective(1px) translateZ(0);
                    transform: perspective(1px) translateZ(0);
                    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
                    position: relative;
                    -webkit-transition-property: color;
                    transition-property: color;
                    -webkit-transition-duration: 0.5s;
                    transition-duration: 0.5s;
                }

                .btn:before {
                    content: "";
                    position: absolute;
                    z-index: -1;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background: #2098D1;
                    -webkit-transform: scaleX(0);
                    transform: scaleX(0);
                    -webkit-transform-origin: 0 50%;
                    transform-origin: 0 50%;
                    -webkit-transition-property: transform;
                    transition-property: transform;
                    -webkit-transition-duration: 0.5s;
                    transition-duration: 0.5s;
                    -webkit-transition-timing-function: ease-out;
                    transition-timing-function: ease-out;
                }

                .btn:hover,
                .btn:focus,
                .btn:active {
                    color: $white;
                }

                .btn:hover:before,
                .btn:focus:before,
                .btn:active:before {
                    -webkit-transform: scaleX(1);
                    transform: scaleX(1);
                    -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
                    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
                }

                .btn-copy {
                    margin-right: 40px;

                    &:hover {
                        transition: 0.3s;
                        background: #cccccc;
                        border: 1px solid #cccccc;
                        color: $black;
                    }
                }

                .btn-tweet {
                    &:hover {
                        border: 1px solid #66b4f1;
                    }
                }
            }
        }

        .mob-footer {
            display: flex;
            justify-content: center;
            align-items: center;

            .button {
                margin-top: 8px;
                width: 35px;
                height: 35px;
                border-radius: 100%;
                border: 1px solid $black;

            }
        }
    }
}


// Modes

.dark-mode {
    background: $primary !important;
    color: $white !important;
}

.light-mode {
    background: $white !important;
    color: $black !important;

    .btn-div {
        .button {
            border: 1px solid $black !important;
        }
    }

    .footer {
        button {
            border: 1px solid $black !important;
            color: $black !important;
        }
    }
}